# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Movie Library updated.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Shcool Account\RiderProjects\Movie-Library-updated\.idea\.idea.Movie Library updated.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
